@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.info-box-list {
    list-style-type: none;
    padding-left: 1rem;
    line-height: 2.6em;
}

.info-box-list-item {
    font-size: 1.35em;
    margin: 0.1em 11px;
    font-weight: 300;
    color: #fcfbfc;
}

.info-box-span {
    font-size: 1.55em;
    color: #90e0ef;
}

.info-box-labels {
    display: flex;
    align-items: center;
}

.info-box-circles {
    font-size: 40px;
    margin-right: 15px;
    font-weight: bold;
    color: #90e0ef;
}

@media only screen and (max-width: 992px) {
    .info-box-list-item {
        font-size: 1em;
        margin: 0.1em 6px;
        line-height: 2em;
    }
    .info-box-span,
    .info-box-circles {
        font-size: 1.3em;
    }
}
