@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@300&display=swap');

.landing-page-container {
    height: 100vh;
    background: url('background.png') center center/cover;
}

.udyam-title {
    position: relative;
    top: 35vh;
    height: auto;
    width: 65vw;
    margin-left: 5vw;
}

.page-links {
    position: absolute;
    top: 3vh;
    right: 0;
    margin-top: 15vh;
    text-align: right;
    overflow: hidden;
}

.page-link {
    position: relative;
    right: 0;
    color: #90e0ef !important;
    text-align: left;
    border-color: #90e0ef !important;
    border-radius: 32px;
    border-right: none;
    height: 2em;
    font-size: 2em;
    margin-left: auto;
    font-family: Quantico, sans-serif;
    right: -2.4em;
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.15)
    ) !important;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

@media (max-width: 1200px) {
    .page-links {
        display: none;
    }
    .udyam-title {
        display: block;
        height: auto;
        top: 35vh;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
}
