.Leaderboard_head {
    font-family: Potra, serif;
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    font-size: 4vw;
    text-align: right;
    margin-right: 6vw;
}

@media (max-width: 767px) {
    .Leaderboard_head {
        align-self: center;
        font-size: 10vw;
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #006be6c7,
            0 0 40px #006be6c7, 0 0 50px #006be6c7, 0 0 60px #006be6c7,
            0 0 70px #006be6c7;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #006be6c7,
            0 0 40px #006be6c7, 0 0 50px #006be6c7, 0 0 60px #006be6c7,
            0 0 70px #006be6c7;
    }
}

.Table1 {
    margin-top: 35px;
    position: sticky;
    overflow-wrap: anywhere;
}

.Header1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    font-family: Quantico;
    color: #00b4d8;
}

.TeamMemberName {
    /* color: red; */
    color: rgba(144, 224, 239, 0.7);
    font-family: Sans-serif;
    font-size: 15px;
}

.TitleFont {
    color: #00b4d8;
    font-size: 25px;
    margin-left: auto;
    text-align: center;
}

@media (max-width: 767px) {
    .TitleFont {
        font-size: 10px;
    }
}

.leaderboardcontainer {
    overflow-y: auto;
    padding: 10px;
    height: 85vh;
    margin-top: 20px;
}

.Rank_Column {
    color: white;
    font-size: 25px;
    text-align: center;
}

.TeamNameLB {
    font-size: 20px;
    text-align: center;
    color: white;
}

@media (max-width: 767px) {
    .TeamNameLB {
        font-size: 8px;
        text-align: inline;
    }
}

.MembernameLB {
    color: white;
    text-align: center;
    font-size: 15px;
}

#Leaderboard_Scrollbar::-webkit-scrollbar {
    width: 10px;
}

#Leaderboard_Scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(113, 192, 245);
    border-radius: 6px;
}

#Leaderboard_Scrollbar::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 10px;
}

#Leaderboard_Scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(194, 184, 184);
}
