.vertical-tabs {
    margin: 5vh 8vw 5vh 8vw;
    display: flex;
}
.tab-title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    /* height: 10vh; */
}
.tabs li a img {
    height: 14vh;
    padding: calc(30px - 1vw);
    padding-right: 30px;
    border-right: 2px solid white;
}

.tabs-content {
    width: 100vw;

    height: 98vh;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    background-color: rgba(148, 148, 148, 0.486);
}
.content {
    height: 35vw;
    color: rgb(255, 255, 255);
}

.tabs-content .content {
    display: none;
    padding: 10px;
}
.tabs-content .content.active {
    display: block;
}
.tabs li.active a img {
    position: relative;
    right: -4px;
    background-color: rgba(148, 148, 148, 0.486);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 0px solid white;
    border-radius: 10vh 0px 0px 10vh;
}
@media (max-width: 767px) {
    .vertical {
        display: none;
    }
    .tabs-content {
        margin-top: 10%;
        border-left: 2px solid white;
    }

    .vertical-tabs {
        position: relative;
    }
}
