.vertical-tabs {
    margin: 5vh 7vw 5vh 7vw;
    display: flex;
}
.tab-title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 10vh;
}
.tabs li img {
    padding: 15px;
    padding-right: 30px;
    border-right: 2px solid white;
}
.tabs-content {
    width: 100vw;

    height: 70vh;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    background-color: rgba(148, 148, 148, 0.486);
}
.content {
    height: 70vh;
    color: rgb(255, 255, 255);
}

.tabs-content .content {
    display: none;
    padding: 10px;
}
.tabs-content .content.active {
    display: block;
}
.tabs li.active img {
    position: relative;
    right: -4px;
    background-color: rgba(148, 148, 148, 0.486);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 0px solid white;
    border-radius: 40px 0px 0px 40px;
}
@media (max-width: 767px) {
    .vertical {
        display: none;
    }
    .tabs-content {
        border-left: 2px solid white;
    }

    .vertical-tabs {
        position: relative;
    }
}
