.tabs_background {
    padding-top: 3vh;
    padding-bottom: 4vh;
    background: url('tabs-background.png') center center/cover;
}

.Vertical-Tabs {
    margin: 5vh 8vw 5vh 4.5vw;
    display: flex;
}

.Tab-Title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    /* height: 10vh; */
}

.Tabs-tabs li a img {
    height: 15vh;
    padding: 2.7vh;
    padding-right: 30px;
    border-right: 2px solid white;
}

.Tabs-Content {
    width: 85vw;
    height: 105vh;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    background-color: rgba(148, 148, 148, 0.486);
}

.content {
    height: 35vw;
    color: rgb(255, 255, 255);
}

.Tabs-Content .content {
    display: none;
    padding: 10px;
}
.Tabs-Content .content.active {
    display: block;
}

.Tabs-tabs li.active a img {
    position: relative;
    right: -4px;
    background-color: rgba(148, 148, 148, 0.486);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 0px solid white;
    border-radius: 10vh 0px 0px 10vh;
}
@media (max-width: 769px) {
    .vertical {
        display: none;
    }
    .Tabs-Content {
        margin-top: 10%;
        border-left: 2px solid white;
    }

    .Vertical-Tabs {
        position: relative;
        margin: 5vh 8vw 5vh 8vw;
    }
}
