.ayush {
    border-style: solid;
    border-color: #90e0ef;
    text-align: center;
    width: 275px;
    height: 450px;
    float: left;
    margin: 30px 50px;
    background: linear-gradient(180deg, #022049 0%, rgba(2, 32, 73, 0) 100%);
}
.ayush:hover {
    transform: scale(
        1.25
    ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.pp {
    margin: 20px;
    width: 200px;
    height: 220px;
    border-style: solid;
    border-color: #90e0ef;
}
.speakers_images {
    float: right;
    margin-left: 100%;
}
.INF {
    height: 715px;
    overflow-y: scroll;
}

.speakersLink {
    display: flex;
    flex-direction: row;
}

@media (max-width: 769px) {
    .INF {
        height: 95vh;
        overflow-x: hidden;
        text-align: center;
    }

    .ayush {
        margin-left: auto;
        margin-right: 3vw;
        background: linear-gradient(
            180deg,
            #022049 0%,
            rgba(2, 32, 73, 0) 100%
        );
        border: 4px solid #90e0ef;
        border-radius: 10px;
        margin-bottom: 1vh;
        height: 55vh;
    }

    .speakers_images {
        width: 80vw;
        text-align: center;
        position: relative;
        left: 10vw;
        padding-top: 2vh;
    }
}
