.ayush {
    border-style: solid;

    border-radius: 1vw;

    border-color: #90e0ef;
    text-align: center;
    width: 19vw;
    height: 66vh;
    float: left;
    font-family: Arial, Helvetica, sans-serif;

    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 7vh;
    margin-top: 5vh;
    padding-bottom: 2vh;

    background: linear-gradient(180deg, #022049 0%, rgba(2, 32, 73, 0) 100%);
}

.ayush:hover {
    transform: scale(
        /* 1.25 */ 1.15
    ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.pp {
    margin: 1.5vw;
    width: 15vw;
    height: 15vw;
    border-style: solid;

    border-radius: 1vw;

    border-color: #90e0ef;
}
.speakers_images {
    float: right;
    margin-left: 100%;
}
.INF {
    /* height: 715px; */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.speakersLink {
    display: flex;
    flex-direction: row;
}

.info {
    font-family: Raleway;
}
.name {
    font-family: Raleway;
}
@media (max-width: 321px) {
    .INF {
        height: 95vh;
        width: 260px;
        overflow-x: hidden;
        text-align: center;
    }
    .ayush:hover {
        transform: scale(
            /* 1.25 */ 1
        ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

    .ayush {
        margin-left: auto;
        margin-right: 3vw;
        background: linear-gradient(
            180deg,
            #022049 0%,
            rgba(2, 32, 73, 0) 100%
        );
        border: 4px solid #90e0ef;
        border-radius: 10px;
        margin-bottom: 1vh;
        width: 95%;

        height: 80vh;
    }

    .speakers_images {
        margin-bottom: 15vh;
        text-align: center;
    }
}
@media (max-width: 737px) and (max-width: 910px) {
    .INF {
        height: 95vh;
        overflow-x: hidden;
        text-align: center;
    }
    .pp {
        /* margin: 10vw; */
        margin-top: 4vh;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
        width: 60vw;
        height: 33vh;
        border-style: solid;
        border-radius: 1vw;
        border-color: #90e0ef;
    }
    .ayush:hover {
        transform: scale(
            /* 1.25 */ 1
        ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    .ayush {
        /* padding: 3vw; */
        background: linear-gradient(
            180deg,
            #022049 0%,
            rgba(2, 32, 73, 0) 100%
        );
        border: 4px solid #90e0ef;
        border-radius: 10px;
        margin-bottom: 1vh;
        width: 70vw;
        height: 71vh;
    }

    .speakers_images {
        width: 80vw;
        text-align: center;
        position: relative;
        left: 10vw;
        padding-top: 2vh;
    }

    .speakers_images {
        text-align: center;
    }
}
#Speakers_Scrollbar::-webkit-scrollbar {
    width: 10px;
}

#Speakers_Scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(113, 192, 245);
    border-radius: 6px;
}

#Speakers_Scrollbar::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 10px;
}

#Speakers_Scrollbar::-webkit-scrollbar-thumb:hover {
    background: white;
}

.Speakers_head {
    /* display: inline-block; */
    /* min-width: 100%; */
    font-family: Potra, serif;
    /* color: rgba(93, 207, 223, 1); */
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    margin-left: auto;
    margin-right: auto;
    font-size: 3.75rem;
    text-align: right;
}

@media (max-width: 668px) {
    .Speakers_head {
        align-self: center;
        font-size: 12.5vw;
        text-align: center;
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #006be6c7,
            0 0 40px #006be6c7, 0 0 50px #006be6c7, 0 0 60px #006be6c7,
            0 0 70px #006be6c7;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #006be6c7,
            0 0 40px #006be6c7, 0 0 50px #006be6c7, 0 0 60px #006be6c7,
            0 0 70px #006be6c7;
    }
}
