.ayush {
    border-style: solid;
    border-radius: 1vw;
    border-color: #90e0ef;
    text-align: center;
    width: 19vw;
    height: 62vh;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 7vh;
    padding-bottom: 2vh;

    background: linear-gradient(180deg, #022049 0%, rgba(2, 32, 73, 0) 100%);
}
.ayush:hover {
    transform: scale(
        /* 1.25 */ 1.15
    ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.pp {
    margin: 1.5vw;
    width: 15vw;
    height: 15vw;
    border-style: solid;
    border-radius: 1vw;
    border-color: #90e0ef;
}
.speakers_images {
    float: right;
    margin-left: 100%;
}
.INF {
    /* height: 715px; */
    height: 95vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.speakersLink {
    display: flex;
    flex-direction: row;
}
.info {
    font-family: Raleway;
}
.name {
    font-family: Raleway;
}
@media (max-width: 321px) {
    .INF {
        height: 95vh;
        width: 260px;
        overflow-x: hidden;
        text-align: center;
    }
    .ayush:hover {
        transform: scale(
            /* 1.25 */ 1
        ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    .ayush {
        margin-left: auto;
        margin-right: 3vw;
        background: linear-gradient(
            180deg,
            #022049 0%,
            rgba(2, 32, 73, 0) 100%
        );
        border: 4px solid #90e0ef;
        border-radius: 10px;
        margin-bottom: 1vh;
        width: 95%;
        height: 80vh;
    }

    .speakers_images {
        margin-bottom: 15vh;
        text-align: center;
    }
}
@media (max-width: 737px) and (max-width: 910px) {
    .INF {
        height: 95vh;
        overflow-x: hidden;
        text-align: center;
    }
    .pp {
        /* margin: 10vw; */
        margin-top: 4vh;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
        width: 60vw;
        height: 33vh;
        border-style: solid;
        border-radius: 1vw;
        border-color: #90e0ef;
    }
    .ayush:hover {
        transform: scale(
            /* 1.25 */ 1
        ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    .ayush {
        /* padding: 3vw; */
        background: linear-gradient(
            180deg,
            #022049 0%,
            rgba(2, 32, 73, 0) 100%
        );
        border: 4px solid #90e0ef;
        border-radius: 10px;
        margin-bottom: 1vh;
        width: 70vw;
        height: 71vh;
    }

    .speakers_images {
        width: 80vw;
        text-align: center;
        position: relative;
        left: 10vw;
        padding-top: 2vh;
    }
}
/* @media (min-width: 413px) and (max-width: 737px) {
    .INF {
        height: 95vh;
        overflow-x: hidden;
        text-align: center;
    }
    .ayush:hover {
        transform: scale(1); 
    }
    .ayush {
        margin-left: 1.5vw;
        margin-right: 1.5vw ;
        background: linear-gradient(
            180deg,
            #022049 0%,
            rgba(2, 32, 73, 0) 100%
        );
        border: 4px solid #90e0ef;
        border-radius: 10px;
        margin-bottom: 1vh;
        width: 95%;
        height: 63vh;
    }

    .speakers_images {
        width: 80vw;
        text-align: center;
        position: relative;
        left: 10vw;
        padding-top: 2vh;
    }
} */

#Speakers_Scrollbar::-webkit-scrollbar {
    width: 10px;
}

#Speakers_Scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(113, 192, 245);
    border-radius: 6px;
}

#Speakers_Scrollbar::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 10px;
}

#Speakers_Scrollbar::-webkit-scrollbar-thumb:hover {
    background: white;
}
