#contactPage {
    display: grid;
    grid-template-areas:
        'contact-form'
        'info-box';
}

#contact-form {
    grid-area: contact-form;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#info-box {
    grid-area: info-box;
    margin-top: 10%;
    margin-bottom: 15%;
    display: flex;
    align-items: center;
}

@media (min-width: 767px) {
    #contactPage {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'contact-form info-box';
    }
    #contact-form {
        margin-bottom: 15%;
    }
}
