.Events_head {
    font-family: Potra, serif;
    color: rgba(93, 207, 223, 1);
    margin-left: auto;
    margin-right: auto;
    font-size: 4vw;
    text-align: center;
}

.Events-Desktop_Carousel {
    width: 50vw;
    height: 39vw;
    margin-left: auto;
    margin-right: auto;
}

.Event_Panel_Right {
    width: 25vw;
    height: 40vw;
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
    padding: 0%;
}

.Event_Carousel_Tiles {
    width: 22vw;
    height: 39vw;
    justify-items: center;
    transform: scale(0.7);
    background: rgba(2, 32, 73, 0.75);
    border-radius: 10px;
    filter: blur(4px);
}

.EventsActiveSlider {
    transform: scale(1);
    filter: blur(0px);
}

.Event_Panel_Left {
    width: 25vw;
    height: 40vw;
    margin-left: 2vw;
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
    row-gap: auto;
    padding: 0%;
    align-items: right;
}

.Events_Outer_Link {
    text-decoration: none;
    font-family: Quantico;
    font-size: 1.8vw;
    color: rgba(144, 224, 239, 0.7);
    margin-top: 1.5vw;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    text-align: right;
}

.Events_Outer_Link_Right {
    text-decoration: none;
    font-family: Quantico;
    font-size: 1.8vw;
    color: rgba(144, 224, 239, 0.7);
    margin-top: 1.2vw;
    margin-bottom: 1.2vw;
    cursor: pointer;
}

.Events_Holder_Component {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 80vw;
}

.Events_CSS_Container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2vw;
}

.Events_Photo {
    margin-top: 1vw;
    margin-right: 3vw;
    margin-left: 3vw;
    width: 16vw;
    height: auto;
}

.Events_Text_Box {
    font-family: raleway;
    padding: 0.5vw;
    font-size: 1vw;
    text-align: center;
    height: 18vw;
}

.Events_Inner_Header {
    font-family: Quantico;
    font-weight: normal;
    font-style: bold;
    display: flex;
    color: #00b4d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Events_Link_Holder {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5%;
    margin-right: 2vw;
    margin-left: 2vw;
    column-gap: 5%;
}

.Events_Inner_Link {
    text-decoration: none;
    margin-top: 1%;
    width: 4vw;
    height: 4vh;
    border: 1px solid #00b4d8;
    margin-left: 1%;
    margin-right: 1%;
}

@media (max-width: 769px) {
    .Events-Desktop_Carousel {
        display: none;
    }

    .Events_CSS_Container {
        display: none;
    }

    .Event_Panel {
        display: none;
    }

    .Events_Outer_Link {
        display: none;
    }

    .Events_Holder_Component {
        display: none;
    }

    .Main_box_Events {
        display: none;
    }

    .Main_box_Events_Mobileview {
        width: 70vw;
        height: 70vh;
    }

    .events_media_query {
        height: 70vh;
    }

    .awssld {
        height: 70vh;
        text-align: center;
        position: fixed;
        margin-top: 2%;
        z-index: 0;
    }

    .events_slider {
        height: 100%;
        width: 100%;
        background-color: rgba(2, 32, 73, 0.75);
        padding-top: 1vh;
    }

    .awssld_content {
        margin-top: 2%;
        padding: 1%;
    }

    .Events_Photo {
        width: 60vw;
    }

    .Events_Link_Holder {
        display: flex;
        flex-direction: row;
        width: 35vw;
    }

    .Events_Inner_Link {
        margin-left: 2vw;
        width: 15vw;
    }

    .Events_Text_Box {
        font-family: raleway;
        font-size: 1.65vh;
        display: auto-fit;
        height: 31.5vh;
    }

    .Events_head {
        text-align: center;
        font-size: 3rem;
    }
}

@media (min-width: 769px) {
    .events_media_query {
        display: none;
        background-color: #00b4d8;
    }
}
