.signin-div {
    display: none;
    position: relative;
    font-size: 1.5em;
}

.signin-div img {
    margin-top: -0.1em;
    padding-right: 12px;
    height: 1.2em;
}

.signed-in-details {
    display: none;
    font-size: 0.8em;
}

.navbar-header-links {
    font-size: 1.6em !important;
}

.navbar-header-links img {
    margin-top: -0.1em;
    padding-right: 12px;
}

.logo {
    height: 64px;
}
.dropbtn {
    background-color: rgb(2, 32, 73);
    color: #fcfbfc;
    padding: 5px;
    font-size: 1.6em;
    border: none;
    cursor: pointer;
    font-family: Raleway, sans-serif;
}

.dropdownNav {
    position: relative;
    display: inline-block;
    margin-top: 3px;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 11px;
    right: 0;
    background-color: rgb(2, 32, 73);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: #fcfbfc;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.5em;
}

.dropdown-content a:hover {
    background-color: #002c65;
    color: white;
}

.show {
    display: block;
}

.initials {
    display: none;
}

.DownArrow {
    height: 1em;
    margin-left: 5px;
}

.rotation {
    transform: rotate(180deg);
    /* transition: 500ms; */
}
.dropbtn svg {
    transition: 500ms;
    font-size: 0.8em;
}
@media (max-width: 1199px) {
    .signin-div {
        display: block;
        color: #caf0f8;
    }
    .signed-in-details {
        display: block;
        color: #caf0f8;
    }
    .logo {
        height: 45px;
    }
    .dropdown-content {
        margin-right: 53px;
        margin-top: 8px;
    }
}
@media (max-width: 500px) {
    .firstName {
        display: none;
    }
    .initials {
        display: inline;
    }
    .DownArrow {
        margin-top: -5px;
    }
}
