.close-btn {
    position: fixed;
    right: 0;
    cursor: pointer;
}

.close-btn:hover {
    opacity: 0.3;
}

.link-div {
    list-style-type: none;
    padding-top: 2em;
    text-align: center;
    font-size: 2.5em;
    font-weight: 300;
}

.link-div li {
    padding: 20px;
}

.toggle-menu-link {
    color: #caf0f8;
    text-decoration: none;
}

.toggle-menu-link:hover {
    color: #caf0f8;
    opacity: 0.6;
}
