.signin-div {
    display: none;
}

.logo {
    height: 64px;
}

@media (max-width: 1200px) {
    .signin-div {
        display: flex;
        font-size: 1.7em;
        color: #caf0f8;
    }
    .logo {
        height: 45px;
    }
}
@media (min-width: 766px) and (max-width: 1024px) {
    .set_size {
        font-size: 1.52vw;
    }
}
