* {
    box-sizing: border-box;
  }
  h1 {
    
    color:rgba(202, 240, 248, 1);
    font-weight: bold;
    margin: 0;
  }
  h1.h12{
    color:rgba(2, 32, 73, 0.9);
    font-weight: bold;
    margin: 0;
  }
  
  h2 {
    text-align: center;
    font-style: italic;
  }
  
  p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }
  
  span {
    font-size: 12px;
  }
  
  a {
    color:rgba(144, 224, 239, 0.4);
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
  }
  
  button.second {
    margin-top: 4px;
    border-radius: 30px;
    border: 5px solid rgba(0, 0, 0, 1);
    background-color: transparent;
    color:  rgba(2, 32, 73, 0.9) ;  
    font-size: 25px;
    font-weight: bold;
    width: 200px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  button:focus {
    outline: none;
  }
  
  button.ghost {
    margin-top: 16px;
    border: 5px solid #90E0EF;
    color:rgba(202, 240, 248, 1);
    box-sizing: border-box;
    border-radius: 30px;
    background-color: transparent;
    font-size: 25px;
    font-weight:bold;
    width: 200px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
  button.other {
    border: 5px solid #90E0EF;
    color:rgba(144, 225, 239, 0.685);
    box-sizing: border-box;
    border-radius: 30px;
    background-color: transparent;
    font-size: 25px;
    font-weight:bold;
    width: 200px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
  
  form {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }
  
  input.in {
    background-color:rgba(144, 224, 239, 0.4);
    border: none;
    opacity:1;
    border-radius: 30px;
    margin: 8px 0px;
    width: 300px;
  }
  input{
    outline: none;
    background: #022049;
    opacity: 0.3;
    width: 300px;
    border-radius: 30px;
    padding: 12px 15px;
    margin: 4px 0px;
  }
  select{
    outline: none;
    background: #022049;
    opacity: 0.3;
    color: rgba(202, 240, 248, 1);
    width: 100%;
    border: none;
    border-radius: 30px;
    padding: 12px 15px;
    width: 100%;
    text-align: center;

  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:rgba(202, 240, 248, 1);
    ;text-align: center;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:rgba(202, 240, 248, 1);
    ;opacity: 1;
    text-align: center;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(202, 240, 248, 1);
    ;opacity: 1;
    text-align: center;
  }
  .pscrt{
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .final{
    border: 5px solid #90E0EF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.2) 48.44%, rgba(255, 255, 255, 0.15) 100%);
    border-radius: 10px;
    margin-left: 15%;
    margin-top: 0.75%;
    margin-bottom: 0.75%;
    width:70%;
    height: 98.5%;
    backdrop-filter: blur(8px);
    min-height: 500px;
  }
  .container {
    background-color: transparent;
    justify-content: center;
    text-align: center;
    align-items: center; 
    position: relative;
    overflow: hidden;
    width: 70%;
    min-height: 565px;
  }
  
  .form-container {
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  
  .sign-in-container {
    background-color: transparent;
    left: 0;
    width: 50%;
    z-index: 2;
  }
  
  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
    opacity: 0;
  }
  
  .sign-up-container {
    justify-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    background-color: transparent;
    top:38%;
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }
  
  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
    
  }
  
  @keyframes show {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }
  
    50%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }
  
  .overlay-container {
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: 1%;
    left: 51%;
    width: 48%;
    height: 98%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
    
  }
  
  .container.right-panel-active .overlay-container {
    transform: translateX(-104%);
    
  }
  .new{
    color:rgba(2, 32, 73, 0.9);
  }
  .part{
    color:rgba(144, 225, 239, 0.685);
  }
  .overlay {
    background-color: rgba(144, 224, 239, 0.4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .container.right-panel-active .overlay {
    transform: translateX(50%);
  }
  
  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .overlay-left {
    transform: translateX(-20%);
  }
  
  .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }
  
  .overlay-right {
    right: 0;
    transform: translateX(0);
  }
  
  .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }