.Countdown {
    margin: 10px auto;
    padding-bottom: 20px;
    text-align: center;
    font-family: Raleway;
}

.Countdown-col {
    display: inline-block;
    font-family: Raleway;
}

.Countdown-col-element {
    display: inline-block;
    margin: 0 20px;
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    padding: 2vw;
    font-family: Raleway;
    color: #90e0ef;
}

.Countdown-col-element strong {
    font-size: 3vw;

    font-family: Raleway;
}
.Countdown-element {
    background-color: #c4c4c499;
    margin: 2px;
    text-align: center;
    width: 4vw;
    border-radius: 1vw;
    display: inline-block;
    font-family: Raleway;

    color: #90e0ef;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #90e0ef;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #26c4e0, 0 0 40px #26c4e0;
    }
}
