/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
    box-sizing: border-box;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 10px;
    background: #90e0ef;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border: 2px solid #90e0ef;
    border-radius: 10px;
    box-sizing: border-box;
}

.container-time {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    margin-top: -40px;
}

.container-time.left {
    left: 0;
}

.container-time.right {
    left: 50%;
}

.container-time::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    top: calc(50% - 20px);
    right: -20px;
    background: radial-gradient(
        46.76% 54.06% at 50.01% 50.04%,
        #90e0ef 0%,
        rgba(0, 0, 49, 0) 99.9%
    );

    border-radius: 20px;
    box-sizing: border-box;
}

.container-time.right::after {
    left: -20px;
}

.container-time.right::before {
    left: 20px;
}

.container-time .content-time {
    padding: 20px 30px;
    background: rgb(196, 196, 196, 0.6);
    position: relative;
    border-radius: 50px;
    border: 2px solid #90e0ef;
    box-sizing: border-box;
}

.container-time .content-time h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: normal;
    color: #90e0ef;
    text-align: center;
    font-family: Quantico;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
}

.container-time .content-time p {
    margin: 0;
    line-height: 22px;
    color: #ffffff;
    font-size: 16px;
    font-family:'Raleway';
}

@media (max-width: 767.98px) {
    .timeline::after {
        left: 30px;
    }

    .container-time {
        width: 100%;
        padding-left: 60px;
        padding-right: 30px;
    }

    .container-time.right {
        left: 0%;
    }

    .container-time.left::after,
    .container-time.right::after {
        left: 10px;
    }

    .container-time.left .content,
    .container-time.right .content {
        padding: 30px;
        border-radius: 50px;
    }
    .container-time .content-time h2 {
        margin: 0 0 5px 0;
        font-size: 24px;
    }

    .container-time .content-time p {
        font-size: 14px;
    }
}
