.bg-dash {
    padding-top: 12vh;
    padding-bottom: 6vh;
    background: url('background.png') center center/cover;
}

.dashboardContainer {
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.15)
    );
    height: 82vh;
    width: 92vw;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px #eee1e18c;
    border-radius: 10px;
}

.imageContainer {
    position: absolute;
    width: 22vh;
    height: 22vh;
    background-color: #223349;
    border: solid 2px #7cdbecd7;
    box-shadow: 6px 2px #7cdbec;
    border-radius: 50%;
    margin-top: -6.5vh;
    margin-left: 5vw;
}

.imageContainer:hover {
    border-color: white;
    box-shadow: 6px 2px rgba(255, 255, 255, 0.74);
}

.displayImage {
    margin-top: 7vh;
    margin-left: 3vh;
    height: 8.5vh;
    z-index: 1;
}

.tabs {
    font-size: 1.5em;
    border-radius: 10px;
    text-align: center;
    background-color: #c4c4c430;
    position: fixed;
    margin-top: 5vh;
    box-shadow: 3px 3px rgba(255, 255, 255, 0.719);
    right: 7vw;
}

.tabLinks {
    color: #caf0f8 !important;
}

.tabLinks:hover {
    color: #199ab4 !important;
}

.scrollContainer {
    position: absolute;
    color: #90e0ef;
    width: 86vw;
    height: 61vh;
    top: 30vh;
    /* padding-top: 5vh; */
    left: 6vw;
    bottom: 8.5vh;
    overflow: auto;
}

.scrollContainer li {
    width: 100%;
    margin-bottom: 36px;
}

.scrollContainer::-webkit-scrollbar {
    width: 13px;
    background: #c4c4c41e;
    border-radius: 50px;
}

.scrollContainer::-webkit-scrollbar-thumb {
    background: #c4c4c446;
    border-radius: 50px;
}

.logoutBtn {
    display: none;
}

/* Handle on hover */
.scrollContainer::-webkit-scrollbar-thumb:hover {
    background: #999999;
}

.navigation {
    display: flex;
}

.navigationMobile {
    display: none;
}

.navLogo {
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 15px;
    height: 1em;
}

.navLogo:hover {
    transform: translateX(2px) translateY(2px);
}

.displayPictureDash {
    display: none;
    position: relative;
    background-color: #293b53;
    border: solid 2px #7cdbecd7;
    box-shadow: 3px 2px #7cdbecd7;
    border-radius: 100px;
    position: absolute;
    height: 10vh;
    width: 10vh;
    top: 15.8vh;
    margin-left: 3vw;
    text-align: center;
}

.editIconDash {
    z-index: 2;
    height: 2.5vh;
    position: absolute;
    top: 6vh;
    right: 1.3vh;
}

@media (max-width: 1160px) {
    .scrollContainer {
        left: 3%;
    }
    .tabs {
        margin-right: 10px;
    }
    .navigation {
        display: none;
    }
    .navigationMobile {
        display: flex;
    }
    .logoutIcon {
        display: inline;
        margin-top: auto !important;
        margin-bottom: auto !important;
        margin-right: 15px;
        border: none !important;
        padding: 0 0 3px 0 !important;
        height: 1em !important;
        width: fit-content;
    }
    .imageContainer {
        display: none;
    }
    .displayPictureDash {
        display: block;
    }
    .scrollContainer::-webkit-scrollbar {
        display: none;
    }
}
