.profileContainer {
    display: flex;
    background-color: #c4c4c430;
    height: auto;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: 4px 4px rgba(255, 255, 255, 0.342);
}

.profileContainer li {
    overflow-wrap: break-word;
    margin-bottom: 20px !important;
}
.profileContainer li h4 {
    font-weight: normal;
}

.editLink {
    position: absolute;
    right: 55px;
    margin-top: 20px;
    display: inline;
    color: #90e0ef;
    text-decoration: none;
}

.editLink:hover {
    color: #90e0ef;
    opacity: 0.6;
}

.displayPictureContainer {
    background-color: #293b53;
    border: solid 2px #7cdbecd7;
    border-radius: 100px;
    position: absolute;
    height: 8vh;
    width: 8vh;
    top: 14.5vh;
    right: 55px;
    text-align: center;
    box-shadow: 2px 1px #7cdbecd7;
}

.displayPicture {
    margin-top: 1vh;
    height: 70%;
}

.editIcon {
    z-index: 2;
    height: 2.5vh;
    position: absolute;
    top: 4.4vh;
    right: 0.9vh;
}

.doneButton {
    margin-top: 20px;
    margin-left: 10px;
    display: inline-flex;
}

.editFieldForm {
    display: inline;
    height: 2.4em;
    width: 70%;
    padding-left: 15px;
    border-radius: 1em;
    font-size: 1.2em;
}

.btn-circle {
    width: 3.5em;
    height: 3.5em;
    padding: 6px 0px;
    border-radius: 2em;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

#profile-user-name,
#profile-college-name,
#profile-referral,
#profile-year,
#profile-email {
    color: #fcfbfc;
}

@media (max-width: 1160px) {
    .displayPictureContainer {
        display: none;
    }
    .profileContainer li {
        margin-left: -15px;
    }
    .editLink {
        right: 42px;
    }
}

@media (max-width: 690px) {
    .editLink {
        font-size: 1.1em;
    }
    .profileContainer li h4 {
        font-size: 1.1em !important;
    }
    .editFieldForm {
        font-size: 1em;
    }
    .btn-circle {
        width: 3em;
        height: 3em;
    }
}

@media (max-width: 390px) {
    .editLink {
        font-size: 0.9em;
    }
    .profileContainer li h4 {
        font-size: 0.9em !important;
    }
    .editFieldForm {
        font-size: 0.9em;
    }
    .btn-circle {
        width: 3em;
        height: 3em;
    }
}
