.workshopsContainer {
    display: block;
    padding: 0.3em 2em 2em 2em;
    background-color: #c4c4c430;
    height: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
}

.workshopDetails {
    display: flex;
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
    background-color: #c4c4c441;
}

.workshopDetails h4 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.wsLink {
    color: #90e0ef;
    text-decoration: none;
}

.wsLink:hover {
    color: #90e1ef85;
}

@media (max-width: 660px) {
    .workshopsContainer h3 {
        text-align: center;
        font-size: 1.5em;
    }
    .workshopsContainer h4 {
        text-align: center;
        font-size: 0.9em;
    }
    .workshopDetails {
        width: 100%;
    }
}

@media (max-width: 460px) {
    .workshopsContainer h3 {
        text-align: center;
        font-size: 1.2em;
    }
    .workshopsContainer h4 {
        text-align: center;
        font-size: 0.6em;
    }
}
