@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap');

#contact-form-wrapper {
    width: 60%;
}

#contact-form-container {
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.15)
    );
    backdrop-filter: blur(6px) !important;
    -webkit-backdrop-filter: blur(6px);
    border: 0.2em solid #90e0ef;
    border-radius: 7px;
    padding: 9% 7% 0% 7%;
}

#main-contact-form {
    margin: 12% auto;
}

#contact-form-head {
    font-family: 'Quantico', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5em;
    color: #90e0ef;
}

.contact-form-feedback {
    font-weight: bold;
    font-size: 1.2em;
}

.contact-form-fields {
    background: none;
    border: none;
    border-radius: 0;
    font-family: 'Raleway', sans-serif;
    height: 2em;
    margin: 9% auto;
    border-bottom: 2px solid white;
    text-align: left !important;
}

.contact-form-fields,
.contact-form-fields:hover,
.contact-form-fields:focus,
.contact-form-fields:active,
.contact-form-fields::placeholder {
    -webkit-text-stroke: 1px rgba(0, 255, 255, 0.75);
    font-size: 1.5rem;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    background: none;
    text-decoration: none;
    color: #90e0ef;
}

#contact-form-button {
    background: none;
    border: 4px solid #90e0ef;
    border-radius: 40px;
    padding: 2px 25px;
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    color: #90e0ef;
}

#contact-form-button-wrapper {
    display: flex;
    justify-content: center;
    margin: 16% auto;
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
    #contact-form-wrapper {
        width: 80%;
    }
    .contact-form-feedback {
        font-size: 0.9em;
    }
}

@media (max-width: 767px) {
    #contact-form-wrapper {
        width: 88%;
    }
    #contact-form-container {
        backdrop-filter: blur(10px);
        border-radius: 10px;
        border: 0.15em solid rgba(255, 255, 255, 0.521);
    }

    .contact-form-fields {
        border-bottom: 1px solid white;
    }

    .contact-form-fields,
    .contact-form-fields:hover,
    .contact-form-fields:focus,
    .contact-form-fields:active,
    .contact-form-fields::placeholder {
        margin: 7% auto;
        font-size: 1rem;
        text-align: left;
    }
    #contact-form-head {
        font-size: 2em;
    }
    #main-contact-form {
        width: 90%;
    }
    #contact-form-button-wrapper {
        margin-top: 9%;
        margin-bottom: 1%;
    }
    #contact-form-button {
        border: 3px solid #90e0ef;
    }
    .contact-form-feedback {
        font-size: 0.8em;
    }
}
