@media (min-width: 767px) {
    .container_box {
        height: 80vh;
        margin-top: -1.5vh;
    }

    .title {
        font-size: 3vw;
        /* margin-top: 1.5%; */
    }

    .back_button {
        width: 7%;
        height: 8%;
        font-size: 1.4vw;
        margin-top: 1vh;
    }

    .Teams_Tiles {
        height: 58vh;
        width: 19vw;
        transform: scale(0.85);
    }

    .Teams_Tiles1 {
        height: 52vh;
        width: 19vw;
        transform: scale(0.85);
    }

    .Members_Tiles1 {
        height: 100%;
        border-radius: 10px;
        justify-items: center;
    }

    .Members_Tiles {
        height: 90%;
        border-radius: 10px;
        justify-items: center;
    }

    .photo {
        width: 85%;
        height: 38vh;
        margin-top: 4%;
        margin-bottom: 1.4%;
        justify-self: center;
        border-radius: 10px;
    }

    .Members_Description {
        color: #000000;
        font-family: raleway;
        font-size: 2.2vh;
        margin: 1.5%;
    }

    .Teams_social-tray {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 3.5%;
        /* margin-bottom: 1.5%; */
    }

    .social_icons {
        max-width: 3vw;
    }

    .Icons_Arrows {
        width: 100%;
    }

    .Teams_Mobile_Container {
        display: none;
    }

    .ActiveSlider {
        transform: scale(1.05);
    }
}

.Teams_Inner_Row {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.Teams_Inner_Row1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    justify-content: space-around;
}

@media (max-width: 767px) {
    .back_button {
        height: 3.5vh;
        width: 20vw;
        font-size: larger;
        margin-bottom: 2vh;
        margin-top: 1vh;
    }

    .Teams_Carousel_Container {
        display: none;
    }

    .Teams_Tile_Container {
        display: none;
    }

    .container_box {
        height: 85vh;
    }

    .Teams_Tiles {
        width: 72vw;
        height: 53vh;
        justify-content: center;
    }

    .Teams_Tiles1 {
        width: 72vw;
        height: 45vh;
        justify-content: center;
    }

    .Members_Tiles {
        width: 68vw;
        height: 50vh;
        margin-top: 4vh;
        margin-left: auto;
        margin-right: auto;
    }

    .photo {
        width: 60vw;
        height: 33vh;
        justify-self: center;
        border-radius: 10px;
    }

    .Members_Description {
        color: #000000;
        font-family: raleway;
        font-size: 2.2vh;
        margin: 1%;
    }

    .Teams_social-tray {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 3.5%;
        margin-bottom: 1.5%;
    }
}

.container_box {
    text-align: center;
    align-items: center;
    width: 73.5vw;
    margin-left: 2vw;
    margin-right: 1vw;
    background-color: rgba(255, 255, 255, 0.8);
    border: 5px solid rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.title {
    text-align: justify;
    font-family: 'Quantico';
    font-style: 'normal';
    font-weight: 'normal';
    color: rgb(2, 1, 1);
    text-align: center;
    align-self: center;
}

.back_button {
    margin-left: 1vw;
    margin-top: 1vh;
    align-items: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    vertical-align: center;

    display: flex;
    color: #e5e5e5;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    background: rgba(2, 32, 73, 0.75);
    border-radius: 25px;
}

#Teams_Scrollbar::-webkit-scrollbar {
    width: 10px;
}

#Teams_Scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(113, 192, 245);
    border-radius: 6px;
}

#Teams_Scrollbar::-webkit-scrollbar-thumb {
    background: #9b8585c2;
    border-radius: 10px;
}

#Teams_Scrollbar::-webkit-scrollbar-thumb:hover {
    background: white;
}
