.loginregform-in::placeholder,
.loginregform-up::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(202, 240, 248, 1);
    text-align: center;
    opacity: 1;
    /* Firefox */
}

.loginregform-in:-ms-input-placeholder,
.loginregform-up:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(202, 240, 248, 1);
    opacity: 1;
    text-align: center;
}

.loginregform-in::-ms-input-placeholder,
.loginregform-in::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(202, 240, 248, 1);
    opacity: 1;
    text-align: center;
}

.loginregform-fp {
    margin-top: -1%;
    margin-left: 50%;
    margin-bottom: 15px;
}

.loginregform-fp:hover {
    color: #719ba3;
    text-decoration: none;
}

.loginregform-head {
    color: rgba(202, 240, 248, 1);
    font-weight: bold;
    margin: 0;
}

.loginregform-h12 {
    color: rgba(2, 32, 73, 0.9);
    font-weight: bold;
    margin: 0;
}

h2.loginregform-part {
    font-size: 25px;
    font-style: italic;
}
.loginregform-mobile-part-signIn {
    display: none;
}

.loginregform-second {
    margin-top: 4px;
    border-radius: 30px;
    border: 5px solid #022049;
    background-color: transparent;
    color: rgba(2, 32, 73, 0.9);
    font-size: 25px;
    font-weight: bold;
    width: 200px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.loginregform-ghost {
    margin-top: 2px;
    border: 5px solid #90e0ef;
    color: rgba(202, 240, 248, 1);
    box-sizing: border-box;
    border-radius: 30px;
    background-color: transparent;
    font-size: 25px;
    font-weight: bold;
    width: 200px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button.loginregform-other {
    border: 5px solid #90e0ef;
    color: rgba(144, 225, 239, 0.685);
    box-sizing: border-box;
    border-radius: 30px;
    background-color: transparent;
    font-size: 25px;
    font-weight: bold;
    width: 200px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.loginregform-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input.loginregform-in,
input.loginregform-up:-webkit-autofill {
    transition: background-color 50000s ease-in-out 0s,
        color 5000s ease-in-out 0s;
}

input.loginregform-in {
    background-color: rgba(144, 224, 239, 0.4);
    border: none;
    opacity: 1;
    border-radius: 30px;
    margin: 8px 0px;
    width: 300px;
    outline: none;
    height: 40px;
    color: #90e0ef;
    border-radius: 30px;
    padding: 12px 15px;
    text-align: center;
}

input.loginregform-up {
    outline: none;
    background-color: rgba(2, 32, 73, 1);
    opacity: 0.3;
    height: 40px;
    color: #90e0ef;
    width: 300px;
    border-radius: 30px;
    /* padding: 12px 15px; */
    margin: 5px;
    text-align: center;
    /* margin: 4px 0 ; */
}

select.loginregform-up {
    outline: none;
    background-color: rgba(2, 32, 73, 1);
    opacity: 0.3;
    color: rgba(202, 240, 248, 1);
    width: 300px;
    border: none;
    border-radius: 30px;
    text-align: center;
    height: 37px;
    margin: 5px;
}

select.loginregform-up option {
    color: rgba(202, 240, 248, 1);
    background-color: rgba(144, 224, 239, 0.4);
}

h2.loginregform-mobile-part {
    display: none;
    font-style: italic;
}

.loginregform-fp {
    color: #caf0f8;
    text-decoration: none;
}

.loginregform-final {
    border: 5px solid #90e0ef;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.15) 0%,
        rgba(255, 255, 255, 0.2) 48.44%,
        rgba(255, 255, 255, 0.15) 100%
    );
    border-radius: 10px;
    margin-left: 15%;
    margin-top: 2.1%;
    margin-bottom: 2.1%;
    position: relative;
    width: 70%;
    height: 98%;
    backdrop-filter: blur(8px);
    /* min-height: 100px; */
}

.loginregform-logincontainer {
    background-color: transparent;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    /* padding: 9% 7% 0% 7%; */
    width: 100%;
    min-height: 550px;
}

.loginregform-form-container {
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.loginregform-sign-in-container {
    background-color: transparent;
    left: 0;
    width: 50%;
    z-index: 2;
    position: absolute;
    display: flex;
}

.loginregform-logincontainer.loginregform-right-panel-active
    .loginregform-sign-in-container {
    transform: translateX(100%);
    opacity: 0;
}

.loginregform-sign-up-container {
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    background-color: transparent;
    position: absolute;
    padding-top: 20%;
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.loginregform-logincontainer.loginregform-right-panel-active
    .loginregform-sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

#loginregform-signIn {
    margin-top: 10px;
}

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.loginregform-overlay-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: 1%;
    left: 51%;
    width: 48%;
    height: 98%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.loginregform-logincontainer.loginregform-right-panel-active
    .loginregform-overlay-container {
    transform: translateX(-104%);
}

h1.loginregform-new {
    font-weight: bold;
}

h2.loginregform-new {
    font-style: italic;
}

.loginregform-new {
    color: rgba(2, 32, 73, 0.9);
}

.loginregform-part {
    color: rgba(144, 225, 239, 0.685);
}

.loginregform-overlay {
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.loginregform-logincontainer.loginregform-right-panel-active
    .loginregform-overlay {
    transform: translateX(50%);
}

.loginregform-overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.loginregform-overlay-left {
    transform: translateX(-20%);
    background-color: rgba(144, 224, 239, 0.4);
}

.loginregform-logincontainer.loginregform-right-panel-active
    .loginregform-overlay-left {
    transform: translateX(0);
}

.loginregform-overlay-right {
    right: 0;
    align-items: center;
    justify-content: center;
    transform: translateX(0);
    background-color: rgba(144, 224, 239, 0.4);
    margin-right: 0;
}

.loginregform-logincontainer.loginregform-right-panel-active
    .loginregform-overlay-right {
    transform: translateX(20%);
}

@media (max-width: 970px) {
    input.loginregform-in,
    input.loginregform-up,
    select.loginregform-up {
        width: 240px;
    }

    button.loginregform-second,
    button.loginregform-ghost,
    button.loginregform-other {
        font-size: 20px;
        width: 140px;
    }

    .loginregform-sign-up-container {
        padding-top: 30%;
    }
}

@media (max-width: 767px) {
    .loginregform-final {
        display: flex;
        height: 100%;
        width: 90%;
        overflow: hidden;
        min-height: 600px;
        right: 10%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .loginregform-logincontainer {
        width: 100%;
        height: 100%;
        min-height: 600px;
        top: 15%;
        left: -1%;
        overflow: visible;
    }

    /*.profile-pic-div {
        margin-bottom: 10%;
        top: 12%;
        margin-left: 40%;
    }*/
    h1.loginregform-head {
        padding-bottom: 6%;
    }

    .loginregform-sign-up-container {
        height: 10%;
        width: 100%;
        overflow: visible;
        position: absolute;
        left: 5%;
        z-index: 1;
        top: 80%;
        padding-top: 0;
    }

    .loginregform-sign-in-container {
        height: 80%;
        width: 90%;
        overflow: hidden;
        position: absolute;
        left: 5%;
        z-index: 101;
    }

    .loginregform-overlay-right {
        width: 100%;
        height: 40%;
        bottom: 0;
        top: 65.5%;
        left: -0.5%;
        align-items: center;
        text-align: center;
        justify-content: center;
        border-radius: 10px;
    }

    .loginregform-overlay-left {
        width: 90%;
        height: 94%;
        top: 47%;
        overflow: visible;
        opacity: 0;
        align-items: center;
        text-align: center;
        justify-content: center;
        transform: translateX(0);
        transform: translateY(-20%);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        left: -0.5%;
        padding-bottom: 1%;
    }

    h1.loginregform-new {
        color: #022049;
        font-size: 35px;
        margin-top: 4%;
    }

    h2.loginregform-new {
        color: #022049;
        font-size: 22px;
    }

    h3.loginregform-mobile-part-signIn,
    h2.loginregform-mobile-part {
        display: inline-block;
        font-size: 20px;
    }

    h2.loginregform-mobile-part {
        color: #90e0ef;
        align-items: center;
    }

    h3.loginregform-mobile-part-signIn {
        color: rgba(202, 240, 248, 1);
        padding-right: 30px;
        padding-left: 10px;
        cursor: pointer;
    }

    .loginregform-part {
        display: none;
    }

    button.loginregform-second,
    button.loginregform-ghost {
        font-size: 20px;
        width: 150px;
    }

    button.loginregform-second {
        margin-bottom: 4%;
    }

    input.loginregform-in,
    input.loginregform-up,
    select.loginregform-up {
        width: 300px;
    }

    #loginregform-signIn {
        display: none;
    }

    .loginregform-overlay {
        height: 200%;
        overflow: visible;
        top: -100%;
        width: 100%;
        left: 0.1%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .loginregform-overlay-container {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        height: 44%;
        width: 96%;
        left: 3%;
        top: 50%;
        overflow: visible;
        align-items: center;
        text-align: center;
        justify-content: center;
        z-index: 100;
    }

    .loginregform-form-container {
        transition: all 0.6s ease-in-out;
    }

    .loginregform-logincontainer.loginregform-right-panel-active
        .loginregform-sign-up-container {
        transform: translateX(0);
        transform: translateY(100%);
        opacity: 1;
        animation: show 0.6s;
        z-index: 101;
    }

    .loginregform-logincontainer.loginregform-right-panel-active
        .loginregform-overlay-right {
        transform: translateX(0);
        transform: translateY(-100%);
        opacity: 0;
    }

    .loginregform-logincontainer.loginregform-right-panel-active
        .loginregform-overlay-left {
        transform: translateY(0);
        opacity: 1;
        z-index: 101;
    }

    .loginregform-logincontainer.loginregform-right-panel-active
        .loginregform-overlay {
        transform: translateX(0);
    }

    .loginregform-overlay-panel {
        width: 100%;
        transition: transform 0.6s ease-in-out;
    }

    .loginregform-logincontainer.loginregform-right-panel-active
        .loginregform-sign-in-container {
        transform: translateX(0);
        transform: translateY(100%);
        opacity: 0;
    }

    .loginregform-logincontainer.loginregform-right-panel-active
        .loginregform-overlay-container {
        transform: translateX(0);
        transform: translateY(-104%);
    }
}

@media (max-width: 633px) {
    .loginregform-sign-up-container {
        top: 81%;
    }
}

@media (max-width: 491px) {
    h3.loginregform-mobile-part-signIn,
    h2.loginregform-mobile-part {
        font-size: 18px;
    }

    input.loginregform-in,
    input.loginregform-up,
    select.loginregform-up {
        width: 240px;
    }

    .loginregform-sign-up-container {
        top: 80%;
    }

    button.loginregform-second,
    button.loginregform-ghost {
        font-size: 16px;
        width: 110px;
    }
}

@media (max-width: 767px) and (min-width: 660px) {
    h2.loginregform-new {
        font-size: 26px;
    }
}

@media (max-width: 385px) {
    input.loginregform-in,
    input.loginregform-up,
    select.loginregform-up {
        width: 210px;
    }
}

@media (max-width: 360px) {
    input.loginregform-in,
    input.loginregform-up,
    select.loginregform-up {
        width: 198px;
    }

    h2.loginregform-new {
        font-size: 16px;
    }
}
