@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
.Udyamlogo12{
    position: relative;
    margin-top: 45px;
    margin-left: 15px;
    height: 64px;
  }
  .logocircle12{
    position: absolute;
    width: 150px;
    height: 150px;
    margin-top: -4.5%;
    left: 45%;
    border-radius: 50%;
    background: #293B53;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid #90E0EF;
    z-index: 2;
  }
.notifyreset-form-container {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.2) 48.44%, rgba(255, 255, 255, 0.15) 100%);
    backdrop-filter: blur(6px);
    border: 0.2em solid #90e0ef;
    border-radius: 7px;
    padding: 15% 7% 15% 7%;
    margin-left: 15%;
    width: 70%;
    height: 550px;
    justify-content: center;
  text-align: center;
  align-items: center;
  margin-top:7%;
  margin-bottom:7%;
  z-index: 1;

}
.notifyreset-form-head {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 2.0em;
    color: #90e0ef;
}
.redirectnotify{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  color: #f6f9fa;

}
.redirectnotify:hover{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  color: #5b8a99;

}