@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
.Udyamlogo12 {
    position: relative;
    margin-top: 5%;
    margin-left: 15px;
    height: 60%;
    width: 60%;
}
.logocircle12 {
    position: absolute;
    margin-top: -4.5%;
    left: 45%;
    z-index: 2;
}
.notifyreset-form-container {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.15) 0%,
        rgba(255, 255, 255, 0.2) 48.44%,
        rgba(255, 255, 255, 0.15) 100%
    );
    backdrop-filter: blur(6px);
    border: 0.2em solid #90e0ef;
    border-radius: 7px;
    padding: 15% 7% 15% 7%;
    margin-left: 15%;
    width: 70%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 7%;
    margin-bottom: 7%;
    z-index: 1;
}
.notifyreset-form-head {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    color: #90e0ef;
    z-index: 2;
    margin-bottom: 15px;
}
.redirectnotify {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
    color: #f6f9fa;
}

.redirectnotify:hover {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
    color: #5b8a99;
}
.noti {
    margin-top: 1%;
}

@media (max-width: 1250px) {
    .logocircle12 {
        left: 43%;
    }
    .noti {
        margin-top: 7%;
    }
}

@media (max-width: 1100px) {
    .notifyreset-form-container {
        margin-top: 90px;
        margin-bottom: 20%;
        margin-left: 15%;
        padding-left: 0;
        padding-right: 0;
    }
    .noti {
        margin-top: 12%;
    }
    .notifyreset-form-head {
        font-size: 1.8em;
    }
    .logocircle12 {
        margin-top: -6%;
        left: 42%;
    }
}
@media (max-width: 900px) {
    .noti {
        margin-top: 22%;
    }
    .notifyreset-form-head {
        font-size: 1.6em;
    }
    .logocircle12 {
        margin-top: -8%;
        left: 41%;
    }
}
@media (max-width: 767px) {
    .Udyamlogo12 {
        height: 57%;
        width: 57%;
        margin-top: -1%;
    }
    .noti {
        margin-top: 18%;
    }
    .notifyreset-form-head {
        margin-bottom: 0;
    }

    .notifyreset-form-container {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        min-height: 586px;
    }
}
@media (max-width: 700px) {
    .logocircle12 {
        left: 40%;
    }
}
@media (max-width: 650px) {
    .noti {
        margin-top: 25%;
    }
    .logocircle12 {
        margin-top: -8%;
        left: 38%;
    }
}

@media (max-width: 550px) {
    .noti {
        margin-top: 30%;
    }
    .logocircle12 {
        left: 36%;
        margin-top: -10%;
    }
}
@media (max-width: 450px) {
    .logocircle12 {
        left: 32.5%;
        margin-top: -12%;
    }
    .notifyreset-form-head {
        font-size: 1.5em;
    }
    .noti {
        margin-top: 43%;
    }
}

@media (max-width: 370px) {
    .noti {
        margin-top: 50%;
    }
    .notifyreset-form-head {
        font-size: 1.4em;
    }
    .logocircle12 {
        left: 27%;
    }
}
@media (max-width: 321px) {
    .logocircle12 {
        left: 25%;
        margin-top: -14%;
    }
    .noti {
        margin-top: 60%;
    }
}
@media (max-width: 281px) {
    .logocircle12 {
        left: 22%;
    }
    .notifyreset-form-head {
        font-size: 1em;
    }
    .noti {
        margin-top: 85%;
    }
}
