@media (min-width: 945px) {
    .aboutUs_head {
        text-align: right;
        font-size: 5rem;
        margin-right: 6vw;
    }
    .Aboutus_content_Text {
        margin-top: 4%;
        margin-left: 2vw;
        margin-right: 2vw;
        font-size: 1.3vw;
    }
    .aboutUs_photo {
        margin-left: 1%;
    }
}

.aboutUs_head {
    /* display: inline-block; */
    /* min-width: 100%; */
    font-family: Potra, serif;
    /* color: rgba(93, 207, 223, 1); */
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.Aboutus-container {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}

.aboutUs_photo {
    /* margin-top:10%;  */
    width: 50vw;
    /* float: left; */

    height: 50vh;
}

.aboutUs-img {
    width: 35vw;
    height: auto;
}

.aboutUs_content {
    margin-top: 5%;
    height: 70h;
    font-size: 1.2vw;
}

.Aboutus_content_Text {
    font-family: raleway;
    color: #fcfbfc;
}

@media (max-width: 945px) {
    .Aboutus-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .aboutUs_photo {
        margin-top: 2%;
        width: 85%;
        height: 32vh;
    }

    .aboutUs_head {
        text-align: center;
        font-size: 12vw;
    }

    .aboutUs-img {
        width: 65vw;
        height: auto;
    }

    .Aboutus_content_Text {
        margin-top: 6%;
        font-size: 1.65vh;
        padding-right: 2%;
        padding-left: 2%;
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #006be6c7,
            0 0 40px #006be6c7, 0 0 50px #006be6c7, 0 0 60px #006be6c7,
            0 0 70px #006be6c7;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #006be6c7,
            0 0 40px #006be6c7, 0 0 50px #006be6c7, 0 0 60px #006be6c7,
            0 0 70px #006be6c7;
    }
}
