@media (min-width: 767px) {
    .Sponsors_head {
        text-align: right;
        margin-right: 6vw;
        font-size: 5rem;
    }
}

.Sponsors_head {
    /* display: inline-block; */
    /* min-width: 100%; */
    font-family: Potra, serif;
    color: rgba(93, 207, 223, 1);
}

.container-sponsors {
    margin-left: 4vw;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 75vw;
    color: #4abbcf;
    overflow-x: hidden;
}

.row-1 {
    margin-left: 2vw;
    width: 72vw;
}

.row-2 {
    width: 72vw;
    align-items: left;
    margin-top: 20px;
}

.title1 {
    width: 50%;
    float: left;
    padding: 5px;
    padding-left: 12.5%;
}

.title2 {
    width: 33%;
    float: left;
    padding: 5px;
}

.box {
    height: 24vh;
    width: 20vw;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #c4c4c4;
}

.sponsors_image_box {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .container-sponsors {
        display: flex;
        flex-direction: column;
    }

    .row-1 {
        display: flex;
        flex-direction: column;
    }

    .row-2 {
        display: flex;
        flex-direction: column;
    }

    .title1 {
        width: 70vw;
    }

    .title2 {
        width: 70vw;
    }

    .box {
        width: 100%;
        align-self: center;
        /* margin-left: 8vw; */
    }

    .Sponsors_head {
        text-align: center;
        font-size: 3rem;
    }

    .h4 {
        width: 75vw;
    }

    .subheading {
        width: 75vw;
    }
}

.platform {
    margin-left: 5vw;
}

#Sponsors_Scrollbar::-webkit-scrollbar {
    width: 10px;
}

#Sponsors_Scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(113, 192, 245);
    border-radius: 6px;
}

#Sponsors_Scrollbar::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 10px;
}

#Sponsors_Scrollbar::-webkit-scrollbar-thumb:hover {
    background: white;
}

/* @media (min-width: 767px) {
    .container-sponsors {
        overflow-y: hidden;
        Comment-out the above line when adding new sponsors
    
} */
